
.card {
  background-color: $color-light;
  padding-left: 20px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px $color-midtone;
}

.wrapper-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
  @media (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 1650px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
