
.hidden {
  display: none;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.m-none {
  margin: 0;
}

.m-bottom-none {
  margin-bottom: 0;
}

.p-bottom-md {
  padding-bottom: 30px;
}
