
//Colors

$color-primary: #383e42;
$color-secondary: #f0f2f6;
$color-tertiary: #9ba9b0;

$color-light: #ffffff;
$color-midtone: #c7cfd3;

//Font

$font-family: 'Roboto', sans-serif;
$line-height: 1.5;

$font-size-xs: 10px;
$font-size-s: 13px;
$font-size-md: 14px;
$font-size-l: 38px;

$font-color-base: $color-primary;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
