body {
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding-left: 0; }

li {
  list-style-type: none; }

button:focus, input:focus {
  outline: none; }

.hidden {
  display: none; }

.relative {
  position: relative; }

.m-none {
  margin: 0; }

.m-bottom-none {
  margin-bottom: 0; }

.p-bottom-md {
  padding-bottom: 30px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #383e42;
  background-color: #f0f2f6; }

.tittle-header {
  font-size: 38px; }

.title-card {
  font-weight: 700; }

.contact-card-font {
  font-size: 10px;
  color: #c7cfd3; }

.main-input {
  padding: 7px 90px 5px 5px;
  font-family: inherit;
  border: 1.5px solid #9ba9b0; }

.main-input::placeholder {
  color: #9ba9b0; }

.icon-search {
  position: absolute;
  top: 7px;
  left: 177px; }

.header {
  padding-top: 45px;
  padding-bottom: 30px; }

.container {
  padding-left: 40px;
  padding-right: 40px; }
  @media (min-width: 800px) {
    .container {
      padding-left: 50px;
      padding-right: 50px; } }

.wrapper-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-row-gap: 20px; }
  @media (min-width: 520px) {
    .wrapper-grid {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px; } }
  @media (min-width: 700px) {
    .wrapper-grid {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (min-width: 1100px) {
    .wrapper-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 1650px) {
    .wrapper-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }

.card {
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px #c7cfd3;
  height: 300px; }

.container-data-card {
  height: 195px;
  overflow: auto; }
