body {
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding-left: 0; }

li {
  list-style-type: none; }

button:focus, input:focus {
  outline: none; }

.hidden {
  display: none; }

.relative {
  position: relative; }

.m-none {
  margin: 0; }

.p-left-lg {
  padding-left: 45px; }

.p-bottom-md {
  padding-bottom: 30px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #383e42;
  background-color: #f0f2f6; }

.tittle-header {
  font-size: 38px; }

.title-card {
  font-weight: 700;
  font-size: 13px; }

.contact-card-font {
  font-size: 10px;
  color: #c7cfd3; }

.main-input {
  padding: 7px 90px 5px 5px;
  font-family: inherit;
  border: 1.5px solid #9ba9b0; }

.main-input::placeholder {
  color: #9ba9b0; }

.icon-search {
  position: absolute;
  top: 7px;
  left: 177px; }

.header {
  padding-top: 45px;
  padding-bottom: 30px; }

.cointainer {
  border: solid 1px black; }
